<aside class="col-md-4">

  <div class="widget archieve">

    <% for(var slug in public.posts._data){ %>
    <h2><a href="/posts/<%= slug %>"><%= public.posts._data[slug].title %></a></h2>
    <% }; %>

  </div><!--/.archieve-->

</aside>